/*font-family: 'Kaushan Script', cursive;*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #333;
    background-image: url("../grey.jpeg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: black;
}

/*1 Block*/
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../grey.jpeg");
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {
    color: white;
    font-size: 150px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Kaushan Script", cursive;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: white;
}

.intro_suptitle {
    margin-bottom: 20px;
    font-size: 72px;
    font-family: "Kaushan Script", cursive;
    color: white;
}

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
    font-family: "Kaushan Script", cursive;
    text-decoration: none;
}

.header_logo:hover {
    text-decoration: none;
    color: grey;
}

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    transition: color 0.1s linear;
    font-family: "Kaushan Script", cursive;
}

.nav_link.active {
    color: grey;
}

.nav_link:hover {
    color: grey;
    text-decoration: none;
}

.nav_link:after {
    content: "";
    display: block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear;
}

.nav_link:hover:after,
.nav_link.active:after {
    opacity: 1;
}

/*2 BLOCK*/
.section {
    padding: 300px 0;
}

.section--contacts {
    background-color: grey;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 10% auto 50px;
    text-align: center;
}

.section_suptitle {
    margin-top: 30px;
    font-family: "Kaushan Script", cursive;
    font-size: 24px;
    color: white;
}

.section_title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.section_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: white;
}

.change_btn {
    position: absolute;
    width: 85px;
    height: 20px;
    margin-top: 10px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: #999;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.delete_btn {
    position: absolute;
    width: 95px;
    height: 20px;
    margin-top: 10px;
    margin-left: 180px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: #999;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.delete_btn:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}

.change_btn:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}

.add_new_btn {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 80px;
    left: 38%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.add_new_btn:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.search_contact {
    width: 50%;
    height: 50px;
    margin-top: 30px;
    margin-left: 30%;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
}

.inp_search {
    margin-top: 5px;
    width: 70%;
    height: 80%;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.submit_btn {
    margin-top: 5px;
    margin-left: 2%;
    width: 25%;
    height: 80%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.submit_btn:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.flex-row-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-row-container > .flex-row-item {
    margin-left: 40px;
}

.flex-row-container > .flex-row-item_note {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 371px;
    height: 100px;
}

.done_btn {
    position: absolute;
    margin-left: 10px;
    margin-top: 3px;
    width: 50px;
    height: 2%;
    border: 1px solid black;
    transition-duration: 0.4s;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #999;
}

.done_btn:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}

.show_all_btn {
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    width: 95px;
    height: 31px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.show_all_btn:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.intro_title_note {
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    font-family: "Kaushan Script", cursive;
}

.add_note_form {
    margin-top: 20px;
}

.select_tags {
    margin-top: 5px;
    margin-left: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid black;
    height: 105px;
    width: 70%;
}

.tag_label {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    position: center;
}

.note_label {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.submit_btn_note {
    margin-top: 15px;
    margin-left: 35px;
    width: 32%;
    height: 80%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.reset_btn_note {
    margin-top: 15px;
    margin-left: 160px;
    width: 32%;
    height: 80%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.reset_btn_note:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}


.submit_btn_note:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}

.contact_input {
    margin-top: 5px;
    width: 70%;
    height: 80%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.contact_input_address {
    margin-top: 5px;
    margin-left: 95px;
    width: 70%;
    height: 80%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.contact_input_phone {
    margin-top: 5px;
    margin-left: 72px;
    width: 70%;
    height: 80%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.contact_input_name {
    margin-top: 5px;
    margin-left: 25px;
    width: 70%;
    height: 80%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

input[type="date"] {
    color: black;
}

::-webkit-calendar-picker-indicator {
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.add_tag_btn {
    position: absolute;
    margin-top: 10px;
    margin-left: 550px;
    width: 300px;
    height: 31px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.add_tag_btn:hover {
    background-color: #7be0bb;
    color: black;
    text-decoration: none;
}

.reset_btn_tag {
    margin-top: 15px;
    margin-left: 220px;
    width: 32%;
    height: 80%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.submit_btn_tag {
    margin-top: 15px;
    margin-left: 35px;
    width: 32%;
    height: 80%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}


.reset_btn_tag:hover {
    background-color: #7be0bb;
    color: black;
    text-decoration: none;
}

.submit_btn_tag:hover {
    background-color: #7be0bb;
    color: black;
    text-decoration: none;
}

.no_notes {
    justify-content: center;
    font-size: 30px;
    font-family: "Kaushan Script", cursive;
    width: 950px;
    height: 70px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.index_btn {
    position: relative;
    width: 12%;
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 80px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.index_btn:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.income_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
}

.add_income {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Kaushan Script", cursive;
    font-size: 70px;
}

.btn_add_income {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    border: 1px solid black;
    width: 35%;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}

.btn_add_income:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../intro.jpg");
    background-size: cover;
}

.show_notes {
    position: absolute;
    width: 85px;
    height: 20px;
    margin-top: 10px;
    margin-left: 90px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: #999;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.show_notes:hover {
    background-color: #7be0bb; /* Green */
    color: black;
    text-decoration: none;
}

.services_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.search_birthday {
    margin-top: 5px;
    margin-left: 2%;
    width: 25%;
    height: 37px;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
}

.search_birthday:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.detail_info {
    display: flex;
    flex-direction: column;
}

.cnt_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}

.change_cnt_btn {
    border: 2px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 10%;
    max-height: 25px;
}

.change_cnt_btn:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.add_phone_btn {
    border: 2px solid black;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 10%;
    max-height: 25px;
}

.add_phone_btn:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.flex-row-container-contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-row-container-contact > .flex-row-item-contact {
    display: flex;
    flex-direction: row;
}

.cnt_detail_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1500px;
    color: white;
}

.phone_cnt {
    width: 45%;
    position: relative;
}

.phone_span{
    position: relative;
    color: white;
    text-decoration: none;
}

.phone_span:hover{
    color: black;
}

.phone_span:after {
    content: url(../crest.ico);
    right: -16px;
    top: -19px;
    position: absolute;
    display: block;
    transform: scale(0.4);
}

.show_info {
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    background-color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    color: black;
    width: 10%;
    max-height: 25px;
}

.show_info:hover {
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.add_contact_form {
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

.date_form {
    margin-right: 50px;
    background-color: grey;
    border-color: black;
}

.link_contact {
    color: white;
}

.link_contact:hover {
    color: grey;
}

.flex-row-item:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
}

.shit {
    margin-top: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: transparent;
    font-weight: bold;
}

.email_form {
    margin-right: 50px;
    background-color: grey;
    border-color: black;
}

.address_form {
    margin-right: 50px;
    background-color: grey;
    border-color: black;
}

.phone_form {
    margin-right: 50px;
    background-color: grey;
    border-color: black;
}

.contact_name_form {
    margin-right: 50px;
    background-color: grey;
    border-color: black;
}

.btns_contact_book {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.delete_contact{
    display: flex;
    width: 50%;
    margin-left: 25%;
    border: 1px solid black;
    transition-duration: 0.4s;
    background-color: white;
    font-family: "Roboto", sans-serif;
    border-radius: 8px;
    color: black;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    text-decoration: none;
}

.delete_contact:hover{
    background-color: grey; /* Green */
    color: black;
    text-decoration: none;
}

.note_desc{
    height:150px;
}

.tag_form{
    margin-top: 40px
}