{% extends 'base.html' %}

{% block title %}
Add income :: {{ block.super }}
{% endblock %}

{% block welcome %}
<div class="container">
    <div class="section_header">
        <h3 class="section_suptitle">ContactBook</h3>
        <h2 class="section_title">All your contacts are here</h2>
        {% if contact|length > 0 %}
        <div class="search_contact">
            <form class="find_something" method="post">
                {% csrf_token %}
                <input class="inp_search" type="search" placeholder="Search" name="find_contact">
                <button class="submit_btn" type="submit">Search</button>
                <a class="show_all_btn" href={% url 'contact_book' %}>Show all</a>
            </form>
        </div>
        <div class="search_contact">
            <form class="find_something" method="post">
                {% csrf_token %}
                <input class="inp_search" type="search" placeholder="Search" name="find_birthday">
                <button class="search_birthday" type="submit">Search birthday</button>
                <a class="show_all_btn" href={% url 'contact_book' %}>Show all</a>
            </form>
        </div>
    </div>
    <div class="flex-row-container">
        {% for cnt in contact %}
        <div class="flex-row-item">
            <div class="services_item">
                <h5 style="width: 25%">{{ cnt.name }}</h5>
                <h5 style="width: 25%">phones: {% for phone in phones %} {% if phone.contact_id_id == cnt.id %}
                    {{ phone.phone }}{% endif %} {% endfor %}</h5>
                <h5 style="width: 25%">birthday: {{ cnt.birthday }}</h5>
                <a class="services_text" href="{% url 'detail_contact' cnt.id %}">Full info</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h2 class="no_notes">NO CONTACTS YET</h2>
    {% endif %}
    <a class="add_new_btn" href="{% url 'add_contact' %}">Add new contact</a>
</div>
{% endblock %}